#### IDE-s
/.cache
/.ensime
/.idea*
.classpath
.project
.settings

#### sbt output
target/

local-dev-database*

#### scajaJs output
*opt.js
*opt.js.map
*-jsdeps.js
*-jsdeps.min.js

#### npm output
/node_modules/
