#### ide's
/.cache
/.classpath
/.ensime
/.idea*
/.project
/.settings

#### sbt output
/target
/project/project
/project/target
/modules/*/target
/modules/*/project/project
/modules/*/project/target

/modules/server/local-dev-database*
