#mainField {
	width: 620px;
	height: 620px;
	position: relative;
	background: #ffffff;
	border: 1px solid #eeeeee;
	cursor: pointer;
	/* 	cursor: hand; */
}

#surroundings svg {
	z-index: 10;
	width: 620px;
	height: 620px;
	position: absolute;
}

#surroundings svg polygon {
	opacity: 0.4;
}

#surroundings svg polyline {
	opacity: 1.0;
}

#dots img {
	position: absolute;
	z-index: 3;
}

#connections img {
	position: absolute;
	z-index: 1;
}
